@import '../../../assets/styles/responsive';
@import '../../../assets/styles/utils';

.details-container {
  overflow-y: auto;
  align-items: center;
  @include devices(tablet-md) {
    height: auto;
    align-items: flex-start;
  }
  .farmer-section {
    background-color: var(--color-primary-shade1);
    border: 1px solid var(--color-primary-shade1);
    padding: 20px 15px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include devices(tablet-md) {
      align-items: flex-start;
      flex-direction: row;
      padding: 20px 25px;
    }
    .images {
      width: 250px;
      @include devices(laptop-xlg) {
        width: 300px;
      }
    }
    .profile {
      width: 100%;
      align-items: center;
      margin-top: 20px;
      @include devices(tablet-md) {
        width: calc(100% - 250px);
        margin-left: 25px;
        margin-top: 0;
        align-items: flex-start;
      }
      @include devices(laptop-xlg) {
        width: calc(100% - 300px);
      }

      h3 {
        color: var(--color-text-primary);
        margin-bottom: 10px;
        display: none;
        @include devices(tablet) {
          display: block;
        }
      }
      p {
        margin-top: 10px;
        max-width: 100%;
        overflow-wrap: break-word;
      }
      .material-icons {
        color: var(--color-white);
        font-size: 15px;
        height: 20px;
        width: 20px;
        background-color: var(--color-text-primary);
        border-radius: 50%;
      }
    }
  }

  .transaction-section {
    padding: 25px 0 70px;
    border: 1px solid var(--color-stroke);
    width: 100%;
    @include devices(tablet) {
      height: 100%;
      padding: 25px 40px;
    }
    @include devices(tablet-md) {
      height: 445px;
      height: 450px;
      overflow-y: auto;
    }
    @include devices(laptop-xlg) {
      padding: 15px 25px;
    }

    .product {
      border-bottom: 1px solid var(--color-stroke);
      padding-bottom: 20px;
      display: none;
      @include devices(tablet-md) {
        display: block;
      }

      ul {
        position: relative;
      }
      h3 {
        text-align: center;
        color: var(--color-text-primary);
        @include devices(tablet-md) {
          text-align: left;
        }
      }
      .content {
        display: flex;
        margin-top: 25px;
        position: relative;
        h3 {
          color: var(--color-text-primary);
        }
        p {
          padding-top: 12px;
        }
      }
    }

    .transaction {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid var(--color-primary-shade1);
      @include devices(tablet-md) {
        border: 0;
        margin-top: 0;
      }
      .main {
        padding-left: 20px;
        @include devices(mobile) {
          padding-left: 0;
        }
      }
      h3 {
        text-align: left;
        color: var(--color-text-primary);
      }
      ul {
        padding: 0;
        padding-top: 10px;

        li {
          padding: 13px 25px;
          background-color: var(--color-primary-shade2);
          margin-bottom: 10px;

          h3 {
            width: 250px;
            color: var(--color-text-primary);
            @include devices(tablet-md) {
              width: auto;
            }
          }
        }
      }
    }
  }
}
.profile-items {
  display: flex;
  align-items: center;
  padding: 6px 0;
  &.tran {
    margin-left: 10px;
  }
  .material-icons {
    margin-right: 10px;
  }

  svg {
    margin-right: 10px;
  }
}
.img-round {
  @include set-width-height(120px, 120px);
  margin-right: 25px;
  img {
    border-radius: 50%;
    @include set-width-height(100px, 100px);
  }
}
.sub-text {
  padding: 10px 0;
  @include devices(tablet-md) {
    padding: 0;
  }
  .view-block {
    cursor: pointer;
  }
  .traced-by-text,
  .material-icons {
    color: var(--color-primary);
  }
  .material-icons {
    font-size: 14px;
    margin-left: 10px;
  }
}

.mobile-product {
  h3 {
    text-align: center;
    margin-bottom: 15px;
  }
}
.timeline-product {
  @include timeline-before-after();
  &:last-child {
    &::after {
      background-color: transparent;
    }
  }

  .active {
    &::before {
      box-shadow: 0 0 0 8px var(--color-primary), 0 0 0 8px var(--color-white);
    }
  }
  .img-round {
    @include set-width-height(90px, 90px);
    margin-right: 25px;
    img {
      border-radius: 50%;
      @include set-width-height(70px, 70px);
    }
  }
}

.tr-qty {
  margin-top: 10px;
  margin-left: -8px;

  .qty {
    font-size: 14px !important;
    @include devices(laptop-xlg) {
      font-size: 16px !important;
    }
    svg,
    img {
      margin: 0 6px;
    }
  }
}

.prod-desc {
  font-size: 12px;
  min-height: 84px;
  max-height: 84px;
  @include devices(laptop) {
    font-size: 13px;
  }
  @include devices(laptop-lg) {
    font-size: 16px;
  }
}

.wrapper {
  margin-top: 20px;
}

.card-text {
  flex-wrap: wrap;
  margin-top: 5px;
  @include devices(tablet-md) {
    margin-top: 0;
    margin-left: 5px;
  }
}


