@import 'src/assets/styles/responsive';

// Variables
// Box Sizes
// $box-small-xs: 80px;: Defines the small box size for extra-small screens.
// $box-small-md: 90px;: Defines the small box size for medium screens.
// $box-small-xlg: 110px;: Defines the small box size for extra-large screens.
// $box-small-desktop: 130px;: Defines the small box size for desktop screens.
// $box-large-xs: 110px;: Defines the large box size for extra-small screens.
// $box-large-md: 120px;: Defines the large box size for medium screens.
// $box-large-xlg: 140px;: Defines the large box size for extra-large screens.
// $box-large-desktop: 160px;: Defines the large box size for desktop screens.
// Mixins
// set-h-mh($value)
// Sets the height and min-height of an element to the provided $value.

// initalise-h-w-mw($value)
// Sets the width, height, and min-width of an element to the provided $value.

// set-circle-shadow($color, $depth)
// Applies a box-shadow to create a circular shadow effect.
// The $color parameter defines the color of the shadow, and the $depth parameter determines the depth of the shadow.

// small-box()
// Applies styles for small boxes with responsive variations based on screen sizes.

// large-box()
// Applies styles for large boxes with responsive variations based on screen sizes.

// stage-item
// Defines styles for timeline items within a stage.
// It includes styles for padding, background color, border, margin, positioning, flex layout, and responsive variations based on screen sizes.

$box-small-xs: 80px;
$box-small-md: 90px;
$box-small-xlg: 110px;
$box-small-desktop: 130px;

$box-large-xs: 110px;
$box-large-md: 120px;
$box-large-xlg: 140px;
$box-large-desktop: 160px;

// set height and min height using a parameter
@mixin set-h-mh($value) {
  height: $value;
  min-height: $value;
}

// set same width - height and min width using a value
@mixin initalise-h-w-mw($value) {
  width: $value;
  height: $value;
  min-width: $value;
}

@mixin set-circle-shadow($color, $depth) {
  box-shadow: 0 0 0 $depth $color, 0 0 0 $depth var(--color-white);
}

@mixin small-box() {
  @include set-h-mh($box-small-xs);
  margin-left: 5px;
  width: 80%;
  @include devices(mobile-xs) {
    width: 90%;
  }

  @include devices(tablet-md) {
    @include set-h-mh($box-small-md);
    width: 310px;
    margin-left: 15px;
  }
  @include devices(laptop-xlg) {
    @include set-h-mh($box-small-xlg);
    width: 370px;
  }
  @include devices(desktop) {
    @include set-h-mh($box-small-desktop);
    width: 570px;
  }
}

@mixin large-box() {
  @include set-h-mh($box-large-xs);
  width: 90%;

  @include devices(tablet-md) {
    @include set-h-mh($box-large-md);
    width: 342px;
  }
  @include devices(laptop-xlg) {
    @include set-h-mh($box-large-xlg);
    width: 400px;
  }
  @include devices(desktop) {
    @include set-h-mh($box-large-desktop);
    width: 600px;
  }
}

@mixin stage-item {
  .timeline-item {
    padding: 5px 5px 5px 10px;
    background-color: var(--color-primary-shade2);
    border: 1px solid var(--color-stroke);
    margin-bottom: 18px;
    position: relative;
    margin-left: 15px;
    margin-right: 0;
    display: flex;
    align-items: center;
    @include devices(tablet-md) {
      margin-right: 20px;
      margin-left: 0;
    }

    @include devices(laptop-xlg) {
      margin-right: 40px;
      margin-left: 0;
    }

    &.large-box {
      @include large-box();
    }
    &.small-box {
      @include small-box();
    }

    &.active {
      background-color: var(--color-primary-shade1);
      .stage-icon {
        background-color: var(--color-white);
      }
      .nav-icon-stage {
        display: none;
      }
      .arrow-right-stage {
        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        position: absolute;
        right: -10px;
        border-left: 10px solid var(--color-primary-shade1);
        @include devices(laptop-xlg) {
          border-width: 16px;
          right: -17px;
        }
        @include devices(desktop) {
          border-width: 20px;
          right: -21px;
        }
      }

      .double-circle {
        box-shadow: 0 0 0 8px var(--color-primary), 0 0 0 8px var(--color-white);
        border: 1px solid var(--color-primary);
        @include devices(laptop-xlg) {
          box-shadow: 0 0 0 11px var(--color-primary),
            0 0 0 11px var(--color-white);
        }
      }
    }
  }
}

.timeline-stage {
  position: relative;
  @include devices(tablet-md) {
    max-width: 420px;
    max-height: 714px;
    height: 714px;
    overflow-y: auto;
  }

  @include devices(laptop-xlg) {
    max-width: 500px;
  }
  @include devices(desktop) {
    max-width: 700px;
  }

  @include stage-item;
}

.other-resource {
  background-color: var(--color-other-resources) !important;
  .viewmore {
    color: var(--color-primary);
    font-size: 10px;
    display: flex;
    align-self: end;
    @include devices(tablet-md) {
      font-size: 14px;
    }
  }
  .info-icon {
    margin-left: 10px;
  }
  .stage-icon {
    @include initalise-h-w-mw(30px);
    @include devices(tablet-md) {
      @include initalise-h-w-mw(40px);
    }
    img {
      @include initalise-h-w-mw(18px);
      @include devices(tablet-md) {
        @include initalise-h-w-mw(30px);
      }
    }
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}
.t-wrapper {
  position: relative;
  justify-content: flex-end;
  @include devices(mobile-xs) {
    justify-content: space-between;
  }
  &::before {
    content: '';
    background: var(--color-stroke);
    display: inline-block;
    position: absolute;
    top: 52%;
    left: 15px;
    width: 3px;
    height: 100%;
    z-index: 400;
    @include devices(tablet-md) {
      width: 4px;
    }
    @include devices(laptop-xlg) {
      left: 17px;
    }
  }
  &:last-child {
    &::before {
      background-color: transparent;
    }
  }

  .other-desc {
    font-size: 10px;
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-top: 3px;

    @include devices(tablet-md) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal !important;
      max-width: 90%;
      font-size: 12px;
    }

    @include devices(desktop) {
      max-width: 77%;
      font-size: 13px;
    }

    &.width-desc {
      white-space: nowrap;
      max-width: 70px;
      @include devices(mobile-fold) {
        max-width: 100px;
      }
      @include devices(mobile) {
        max-width: 250px;
      }
      @include devices(tablet) {
        max-width: 300px;
        font-size: 12px;
      }
      @include devices(tablet-md) {
        max-width: 70%;
      }
      @include devices(desktop) {
        max-width: 77%;
        font-size: 13px;
      }
    }
  }

  .other {
    width: 26px;
    @include devices(mobile-xs) {
      margin-left: 17px;
      width: 60px;
    }
    @include devices(tablet-md) {
      width: auto;
    }
  }
  .double-circle {
    background: var(--color-white);
    border-radius: 50%;
    z-index: 8888;
    width: 10px;
    height: 10px;
    position: relative;
    border: 1px solid var(--color-stroke);
    margin-left: 12px;
    margin-bottom: 14px;
    @include set-circle-shadow(var(--color-stroke), 8px);

    @include devices(laptop-xlg) {
      width: 14px;
      height: 14px;
      @include set-circle-shadow(var(--color-stroke), 11px);
    }
  }
}
.heading {
  margin-bottom: 15px;
  .font-normal {
    color: var(--color-text-primary);
    font-size: 18px;
    font-family: 'Moderat Bold', sans-serif;
  }
  img {
    margin-right: 10px;
  }
  .traced-by-text {
    font-family: 'Moderat Regular', sans-serif;
    color: var(--color-text-primary);
    font-size: 14px;
  }
}
.desc-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include devices(tablet-md) {
    display: inline-flex;
  }
}
