<div class="story-ff ff-flex-between" role="article" attr.aria-label="{{ componentData.videoTitle }}">
    <section class="video-wrapper" aria-label="Video">
        <iframe class="embed-responsive-item" [src]="videoUrl" allowfullscreen title="videourl"></iframe>
    </section>
    <section class="content">
        <h1 class="font-subheading">{{ componentData.videoTitle }}</h1>
        <p class="font-normal">{{ componentData.videoDescription }}</p>
        <aside aria-label="Actions" class="action-button">
            <button class="button-primary ff-flex-center" (click)="getLink()">
                {{componentData.buttonText}}&nbsp;
                <span class="material-icons">east</span>
            </button>
            <app-share-button [data]="sharingData"></app-share-button>
        </aside>
    </section>
    <section class="slanting-bg" aria-hidden="true"></section>
    <section class="bg-stripes" aria-hidden="true"></section>
</div>