// Animation
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

.image-bg-loading {
  @extend .animated-background;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.text {
  margin-left: 20px;
  width: 90%;
}

.text-line {
  margin: 12px 0;
  @extend .animated-background;
}
.quarter-width {
  width: 75%;
}
